.strong {
  font-weight: 800;
}

main {
  margin-bottom: 6rem !important;
}

.card-title.title {
  font-weight: 300;
  font-size: 1.4rem;
  color: rgb(78, 78, 78);
}

.description {
  font-weight: 600;
  font-size: 0.65rem;
  color: rgb(175, 175, 175);
  margin-top: 0.4rem;
}

.display {
  height: 8rem;
}
