main {
  margin-bottom: 6rem !important;
}

.card-title.title {
  font-weight: 400;
  font-size: 1.6rem;
  /* color: rgb(78, 78, 78); */
}

.description {
  font-weight: 300;
  font-size: 0.8rem;
  /* color: rgb(175, 175, 175); */
}

.display {
  height: 12rem;
}
