body main.row {
  margin-bottom: 12rem;
}

.card-title.title {
  font-weight: 300;
  /* font-size: 1.6rem; */
  /* color: rgb(78, 78, 78); */
}

.description {
  font-weight: 300;
  font-size: 0.8rem;
  /* color: rgb(175, 175, 175); */
}

.display {
  height: 9rem;
}

div div.card-content.description {
  padding: 10px 24px;
}

div.card div.card-action {
  padding: 10px 24px;
}

div div div.chip {
  height: 20px;
  font-size: 11px;
  line-height: 20px;
  padding: 0 8px;
  font-weight: 500;
}

.card .card-image span.card-title.title {
  padding: 6px 24px;
}

i.material-icons.checks {
  font-size: 13px;
  float: left;
  margin: 3px 6px 0 -1px;
  height: 0.7rem;
  width: 0.7rem;
}
