<%
const site = {
  name: 'Inventory',
  description: 'Inventory Management.',
  github: "https://xtreemze.github.io/inventory/",
}
%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>${ site.name }</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=0.0, maximum-scale=10.0">
    <link rel="canonical" href="${ site.github }" />
    <link rel="manifest" href="${ site.github }manifest.json">
  </head>

  <body class="grey lighten-3">

    <main class="row">

      <section class="col s12 m6 l4" id="transportBike">
        <span class="row">
          <h5 class="grey-text text-lighten-1 col s12 center">
            <i class="material-icons large">directions_bike</i>
          </h5>
        </span>
      </section>
      <section class="col s12 m6 l4" id="transportVehicle">
        <span class="row">
          <h5 class="grey-text text-lighten-1 col s12 center">
            <i class="material-icons large">directions_car</i>
          </h5>
        </span>
      </section>
      <section class="col s12 m6 l4" id="productionCamera">
        <span class="row">
          <h5 class="grey-text text-lighten-1 col s12 center">
            <i class="material-icons large">photo_camera</i>
          </h5>
        </span>
      </section>
      <section class="col s12 m6 l4" id="spacesBed">
        <span class="row">
          <h5 class="grey-text text-lighten-1 col s12 center">
            <i class="material-icons large">hotel</i>
          </h5>
        </span>
      </section>
      <section class="col s12 m6 l4" id="spacesRoom">
        <span class="row">
          <h5 class="grey-text text-lighten-1 col s12 center">
            <i class="material-icons large">forum</i>
          </h5>
        </span>
      </section>

    </main>

  </body>

  </html>
