<%
const site = {
  name: 'Inventory',
  description: 'Inventory Management.',
  github: "https://xtreemze.github.io/inventory/",
}
%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>${ site.name }</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=0.0, maximum-scale=10.0">
    <link rel="canonical" href="${ site.github }" />
    <link rel="manifest" href="${ site.github }manifest.json">
  </head>

  <body class="grey lighten-4">
    <header class="blue lighten-2 z-depth-3">
      <div class="row nav-wrapper">
        <div class="input-field col s6">
          <input id="dateOut" type="text" class="white-text datepicker">
          <label>Date Out</label>
        </div>
        <div class="input-field col s6">
          <input id="dateIn" type="text" class="white-text datepicker">
          <label>Date In</label>
        </div>
      </div>
    </header>
    <main class="row">
      <section class="col s12" id="list">
      </section>
    </main>
  </body>

  </html>
