<%
const site = {
  name: 'Inventory',
  description: 'Inventory Management.',
  github: "https://xtreemze.github.io/inventory/",
}
%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>${ site.name }</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=0.0, maximum-scale=10.0">
    <meta name="google" content="notranslate" />
    <link rel="canonical" href="${ site.github }" />
    <link rel="manifest" href="${ site.github }manifest.json">
    <style>
      .hide {
        display: none;
      }

    </style>
  </head>

  <body class="grey lighten-4">
    <header id="header" class="blue lighten-2 z-depth-3 hide">
      <div class="row">
        <div class="col s6">

          <div class="input-field">
            <i class="material-icons prefix blue-text text-lighten-4">arrow_upward</i>
            <input id="dateOut" type="text" class="white-text datepicker" readonly>
          </div>
        </div>
        <div class="col s6">

          <div class="input-field">
            <i class="material-icons prefix blue-text text-lighten-4">arrow_downward</i>
            <input id="dateIn" type="text" class="white-text datepicker" readonly>
          </div>
        </div>

      </div>
    </header>
    <main class="row">
      <section class="col s12" id="list">
      </section>
    </main>
  </body>

  </html>
